node_modules
.DS_Store
.vscode
.idea
.env
.env.local
.env.development
.env.production
/docs/.vuepress/.cache/*
!/docs/.vuepress/.cache/.gitkeep
/docs/.vuepress/.temp/*
!/docs/.vuepress/.temp/.gitkeep
docs/.vuepress/.cache/*
!docs/.vuepress/.cache/.gitkeep
